.App {
  text-align: center;
}

.App-header {
  background-color: #1B7F7A;
  min-height: 70px;
  padding: 10px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}